body{
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-image: url(https://k37.kn3.net/D65DF3CD5.jpg);
}  
header{
  border-style:dotted;
  border-width: 2px;
  border-color: #CEF6F5;

  padding: 10px ;
}
.menu-nav ul li{
  display: inline-block;
}

ul li a{
  color: #0FE1FA; 
  padding: 10px;
  text-decoration:  none;
  
}

.activo{
  color:#FFFFFF;
  border-style: dotted;
  border-width: 2px;
  border-color:#CEF6F5;
}

ul li a:hover{
  background:#EFFBFB;
  color:#000000;
  border-radius: 5px;
}

ul li .activo:hover {
  background:#EFFBFB;
  color:#000000;
  
}

