body{
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-image: url(http://fotos.subefotos.com/5068b381a756b968641fc81374b87b08o.jpg);
}  
header{
  border: 2px solid red;
  padding: 10px ;
}
.menu-nav ul li{
  display: inline-block;
}

ul li a{
  color: red; 
  padding: 10px;
  text-decoration:  none;
}

.activo{
  background: whithe;
  color:red;
  border:2px solid red;
}

ul li a:hover{
  background: #FE9A2E;
  color:#FAFAFA;
}

ul li .activo:hover {
  background: #FE9A2E;
  color:Yellow;
}

